<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% capture title%}{{page.title}}{%endcapture%} {% comment %} Enforce string as integer is not supported by 'escape' {% endcomment %}
  <title>{{ site.brand | escape }}{% if page.title %} | {{ title | escape }}{% endif %}</title>

  {% seo title=false %}
  <meta property="og:type" content="website">

  <link rel="icon" href="{{ "/assets/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>
