name: CI

on: push

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Run Markdown Lint
      run: bundle exec mdl --git-recurse .

    - uses: actions/setup-node@v6.1.0
      with:
        node-version-file: .nvmrc
    - run: npm ci
    - run: npm run lint

  build:
    needs: lint

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Build site
      run: bundle exec jekyll build
    - name: Upload site as artifact
      uses: actions/upload-artifact@v5
      with:
        name: _site
        path: _site

  deploy:
    if: github.ref == 'refs/heads/main'
    environment: production
    needs: build

    runs-on: ubuntu-24.04

    steps:
    - name: Download site artifact
      uses: actions/download-artifact@v6
      with:
        name: _site
        path: _site
    - name: Upload to S3
      run: aws s3 sync --delete _site/ s3://${{ secrets.AWS_BUCKET }}
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_REGION: ${{ secrets.AWS_BUCKET_REGION }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
